.menu{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	background-color: #9966ff;
	width: 900px;
}
.menu li{
	display: inline;
}
.menu a{

	color: #ffffff;
	text-decoration: none;
	padding: 7px 14px;
	display: inline-block;
	text-transform: uppercase;
	font-family: "Impact";
	font-size: 20px;
	font-stretch: ultra-condensed;
}
.menu a:hover{
	background-color: #eeeeee;
	color: #a0a0a0;
}


