.container{
	background: #9966ff;
}
.menu{
	margin: auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
	background: #9966ff;
	width: 900px;
}

.menu li{
	display: inline-block;
}
.menu a{
	color: #ffffff;
	text-decoration: none;
	padding: 7px 14px;
	display: inline-block;
	text-transform: uppercase;
	font-family: "Impact";
	font-size: 20px;
}
.menu a:hover{
	background: #eeeeee;
	color: #a0a0a0;
}


