*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1023px;
    border: 1px solid black;
}

.header{
    width: 1043px;
    margin: 0 auto;
}

.header a{
    text-decoration: none;
    color: #989898;
}

.header .company-name a{
    margin: 39px 0 44px 0;
    float: left;
    font: 36px 'Futura Book BT', sans-serif;
    color: #ee8129;
    letter-spacing: 0.9px;
}
.header .company-name span{
    font: 700 36px 'Futura BT', sans-serif;
    letter-spacing: 2.3px;
    color: #3070a8;
    text-transform: uppercase;
}

.header ul{
    float: right;
}
.header li{
    display: inline-block;
    list-style-type: none;
    font: 500 14px 'Open Sans', sans-serif;
    letter-spacing: 0.4px;
    padding-top: 61px;
    text-transform: uppercase;
}

.header li a{
    padding: 0 17px 0 19px;
}
.header li a:last-child{
    --padding-right: 0;
}
.header li a:hover{
    color: #3070a8;
    padding-bottom: 33px;
    border-bottom: 4px solid #3070a8;
}

.banner{
    margin-top: 116px;
    background: url("../images/background-banner.jpg") 100% 100% no-repeat fixed;
    background-size: cover;
    height: 585px;
}

