/*-----Fonts----*/

@font-face {
    font-family: 'Futura Book BT';
    src: url(../fonts/futura-book-bt.ttf);
}

@font-face {
    font-family: 'Futura BT';
    src: url(../fonts/futurabt-bold.otf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1023px;

}

/*----Style for Header----*/

.header{
    width: 1046px;
    margin: 0 auto;
}

.header .company-name a{
    margin: 39px 0 42px 0;
    float: left;
    font: 37px 'Futura Book BT', sans-serif;
    color: #ee8129;
}

.header .company-name span{
    padding-left: 2px;
    color: #3070a8;
    font: 36px 'Futura BT', sans-serif;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.header a{
    text-decoration: none;
    color: #989898;
}

.header .menu{
    float: right;
}

.header .menu li{
    display: inline-block;
    list-style-type: none;
    font: 600 14px 'Open Sans', sans-serif;
    letter-spacing: 0.4px;
    padding-top: 61px;
    text-transform: uppercase;
}

.header .menu li a{
    padding: 0 17px 0 19px;
}

.header .menu li a:hover{
    color: #3070a8;
    padding-bottom: 32px;
    border-bottom: 4px solid #3070a8;
}

.clear-float{
    clear: right;
    height: 0;
    overflow: hidden;
}

/*--------Style for banner-----*/

.banner{
    margin-top: 36px;
    background: url(../images/background-banner.jpg) 100% 100% no-repeat;
    background-position: center;
    background-size: cover;
    height: 585px;
    text-align: center;
    color: #ffffff;
}

.banner .banner-text{
    padding-top: 140px;
    font: 36px 'Futura Book BT', sans-serif;
    width: 1024px;
    margin: 0 auto;
    line-height: 1.4;
}

.banner .banner-text span{
    font: 47px 'Futura BT', sans-serif;
    text-transform: uppercase;
}

.banner .description{
    margin: 0 auto;
    padding-top: 15px;
    font: italic 20px 'Calibri', sans-serif;
    width: 585px;
    text-shadow: 0 1px 0 #213a54;
    line-height: 1.5;
}

.banner-button{
    background: none;
    border: 1px solid #8fa0ac;
    font: 16px 'Open Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding: 17px 63px 18px 62px;
    margin-top: 38px;
}

.banner-button:hover{
    text-shadow: 0 0 5px #ffffff;
    box-shadow: 0 0 5px #ffffff;
}

/*--------Style for Services--------*/

.services-wrapper{
    height: 563px;
    overflow: hidden;
}
.services-wrapper .services-title{
    margin-top: 61px;
    font: bold 30px 'Trebuchet MS', sans-serif;
    color: #41525c;
    text-transform: uppercase;
    text-align: center;
}
.services-wrapper .services-list-wrapper{
    position: relative;
    left: 50%;
    float: left;
}
.services-wrapper .service {
    position: relative;
    right: 50%;
    float: left;
    margin: 54px 52px 0 0;
    width: 305px;
    text-align: center;
}

.services-wrapper .service:last-child {
    margin-right: 0;
}

.services-wrapper .service p{
    margin-top: 17px;
    font: 31px 'Futura Book BT', sans-serif;
    text-transform: uppercase;
}

.services-wrapper p a {
    color: #3070a8;
    text-decoration: none;
}

.services-wrapper p.service-desc{
    margin-top: 14px;
    font: 400 14px 'Open Sans', sans-serif;
    color: #a1a1a1;
    line-height: 1.8;
    text-transform: none;
}
/*---------------Middle Section------------------*/

.middle-section-wrapper{
    height: 577px;
    background: url("../images/middle-section.jpg") 100% 100% no-repeat;
    background-position: top;
    background-size: cover;
}
.middle-section-wrapper .middle-section {
    width: 1023px;
    margin: 0 auto;
}

.middle-section-wrapper .middle-section h1{
    padding: 75px 0 3px 0;
    font: 600 26px 'Futura Book BT', sans-serif;
    text-transform: uppercase;
    color: #ee8129;
    line-height: 1.88;
}

.middle-section-wrapper .middle-section h2{
    font: italic 400 19px 'Open Sans', sans-serif;
    color: #ffffff;
    line-height: 1.88;
}
.middle-section .middle-section-list{
    width: 650px;
    padding-top: 28px;
    max-height: 270px;
}

.middle-section .middle-section-list ul{
    list-style: none;
}

.middle-section .middle-section-list ul li::before{
    content: url("../images/marker1.png");
    position: relative;
    padding-right: 13px;
}

.middle-section .middle-section-list ul li:nth-child(2n)::before{
    content: url("../images/marker2.png");
}

.middle-section .middle-section-list ul li{
    font: 600 14px 'Open Sans', sans-serif;
    padding-bottom: 12px;
    line-height: 2.2;
    margin-left: 19px;
    color: #828383;
}

.middle-section .middle-section-list ul li:nth-child(2n){
    color: #2d679a;
}