.menuContainer1, .menuContainer1 .menu{
	background: #9966ff;
}
.menuContainer2, .menuContainer2 .submenu{
	background: #eeeeee;
}
.menu, .submenu{
	margin: auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 900px;
}

.menu li, .submenu li{
	display: inline-block;
}
.menu a{
	color: #ffffff;
	text-decoration: none;
	padding: 7px 8px;
	display: inline-block;
	text-transform: uppercase;
	font-family: "Impact";
	font-size: 20px;
}
.submenu a{
	color: #aa8887;
	text-decoration: none;
	padding: 7px 10px;
	display: inline-block;
	font-family: "Arial";
	font-size: 16px;
}
.menu a:hover{
	background: #eeeeee;
	color: #a0a0a0;
}


