*{
    padding: 0;
	margin: 0;	
}
.wrapper{
	overflow: hidden;
	min-width:900px;
	height:78px;
}
.container{
	background: #9966ff;
}
.main-menu {
	padding: 0;
	margin: auto;
    list-style: none;
    background: #9966ff;
	text-align:center;
	width:900px;	
	position: relative;
}
.main-menu > li, .sub-menu > li{
    display: inline-block;
}
.main-menu a {
    display: block;
    padding: 8px 8px;
    color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Impact";
	font-size: 20px;
}
.main-menu a:hover {
	background: #eeeeee;
	color: #a0a0a0;
}
.main-menu .sub-menu {
	padding: 0 100%;
	margin: 0 -100%;
	background: #eeeeee;
	position:absolute;
	top: 100%;
	left:0;
	text-align:left;
	visibility: hidden;
}
.main-menu .sub-menu a{
	color: #aa8887;
	text-transform: none;
	padding: 10px 5px;
	display: block;
	font-family: "Arial";
	font-size: 16px;
}
.main-menu > li:hover .sub-menu{
	visibility: visible;
}
.sub-menu a:hover{
	background: #fcfcfc;
}
