*{
    padding: 0;
	margin: 0;
}
.main-menu {

    list-style: none;
    background: #9966ff;
	text-align:center;
	width:900px;	
	position: relative;
}
.main-menu > li, .sub-menu > li{
    display: inline-block;
}
.main-menu a {
    display: block;
    padding: 8px 8px;
    color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Impact";
	font-size: 20px;
}
.main-menu a:hover {
	background: #eeeeee;
	color: #a0a0a0;
}
.main-menu .sub-menu {
	box-sizing: border-box;
    --padding-left:21%;
	margin:0;
	position: absolute;
	width:100%;
	text-align:left;
	background: #eeeeee;
	visibility: hidden;
	--top:100%;
	left:0;
}
.main-menu .sub-menu a{
	color: #aa8887;
	text-transform: none;
	padding: 10px 5px;
	display: block;
	font-family: "Arial";
	font-size: 16px;
}
.main-menu > li:hover .sub-menu{
	visibility: visible;
}
.sub-menu a:hover{
	background: #fcfcfc;
}
