*{
    padding: 0;
	margin: 0;	
}
.head-value{
	width: 296px;
	margin: 100px auto;
	text-align: center;
}
 .head-value p{
	background: #ee8129;
	color: #ffffff;
	font: bold 24px "Trebuchet MS", serif;
	text-transform: uppercase;
	padding: 25px 0 21px 0;
	border-radius: 5px 5px 0 0;
}
